#python 
__pycache__/
*.py[cod]
*.sqlite3
*.log

#virtual environments
venv/
env/
.venv/

#node / frontend
node_modules/
build/
dist/

#Django static/media
staticfiles/
media/

#Os/system files
.DS_Store
Thumbs.db

#other
*.lock
*.env
.env
